22 JULY. IBM Python for AI

In [1]:
print("hey")

hey

In [5]:
# Check the Python Version
import sys
print(sys.version)    #this line will print the python version

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [21]:
# types in PYthon
a="abishek"
b=2
c=3.5
d=5>2

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [29]:
# Typecasting -  changing data type
n=3.0
print(type(n))

b=int(n)
print(type(b))

c=str(n)
print(type(c))

d=True
print(type(d))
e=int(d)
print(type(e))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [32]:
# Expression 
# Write an expression to add 30 and 20 and subtract 40
print(30+20-40)
# Write an expression to subtract 5 from 55 and divide the result by 10
print((55-5)/10)
# Write an expression to multiply 6 with 10 and divide the result by 12
print((6*10)/12)

10
5.0
5.0

USER INPUT

In [53]:
name=input("enter your name: ")
print(f"good morning {name}")

enter your name:  abhi

good morning abhi

In [ ]:
# take 2 value from user in a single line 
a, b = map(int, input("Enter two numbers separated by space: ").split())
print(a + b)

In [ ]:
# take 2 value from user in a single line. we will use comma instead of space here now
a, b = map(int, input("Enter two numbers separated by comma: ").split(","))
print(a + b)

STRING

In [7]:
# STRING
name="abhishek"
country="india"
print(name + " welcome")
print("hello",name + " welcome")
print(f"my name is {name} and i live in {country}")
print("my name is",name + " and my country is",country)
print("My name is {} and I stay in {}.".format(name, country))

abhishek welcome
hello abhishek welcome
my name is abhishek and i live in india
my name is abhishek and my country is india
My name is abhishek and I stay in india.

In [29]:
# Raw String. for handling textual data, especially when dealing with escape characters
str= "my name is abhishek. \n I live in india"
print(str)
print("--------------------------------------------------------------")

# \n is not interpreted as a newline character, but rather as two separate characters, ‘’ and ‘n’
raw_str=r"my name is abhishek \n. i live in india"    #
print(raw_str)
print("--------------------------------------------------------------")

# another example, which is more realstic. without raw string, it will take \n as next line.
raw_string = r"C:\new_folder\file.txt"
print("Raw String:", raw_string)

my name is abhishek.
 I live in india
--------------------------------------------------------------
my name is abhishek \n. i live in india
--------------------------------------------------------------
Raw String: C:\new_folder\file.txt

In [59]:
# escape sequence

# \n new line escape. enter new line
print("hey i am \nabhishek")
print("--------------------------------------------")

# \t tab escape. it work as tab key, give space
print("hey i am \tabhishek")
print("--------------------------------------------")

# \b backspace. it works as backspace key, revmove space
print("hey i am \babhishelk")
print("--------------------------------------------")

# Include back slash in string
print("hey i am \\ abhishek")
print("--------------------------------------------")

# r will tell python that string will be display as raw string
print(r"hey i am \ abhishek")

hey i am
abhishek
--------------------------------------------
hey i am 	abhishek
--------------------------------------------
hey i amabhishelk
--------------------------------------------
hey i am \ abhishek
--------------------------------------------
hey i am \ abhishek

In [43]:
# how to use strip string. to remove space from beginning and end both side
a=" hi, world "
print(a.strip())

hi, world

In [47]:
# how to use replace string method(). most important
b="hello world"
print(b.replace("hello","hi"))

hi world

In [45]:
#  how to use split string method(). split method split into substring
t1= "hello python programmer 23"
print(t1.split())

['hello', 'python', 'programmer', '23']

In [27]:
# string manipulation and function

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)
c = a.lower()
print("After lower:",c)

print("Is It A Title: ",a.istitle())
print(len(a))         # print length of string
print(a[2])           # print character of index number 2
print(a[1:5])         # print from 1 to 4
print(a[::-1])        # print string in reverse
print(a[3:-6])        # print from 3 to 28

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM
After lower: thriller is the sixth studio album
Is It A Title:  False
34
r
hril
mubla oiduts htxis eht si rellirhT
iller is the sixth studio

In [12]:
# replace string 
name="my name is Abhishek"
name_find=name.replace("Abhishek","Pankaj")
print(name_find)

my name is Pankaj

In [48]:
#  append method in list. it always add element at end of the index
name=["abhishek","pankaj","rahul"]
name.append("rohit")
print(name)

['abhishek', 'pankaj', 'rahul', 'rohit']

In [50]:
# insert() method ise use to add element at selected index number like index[2]
name=["abhishek","pankaj","rahul","rohit"]
name.insert(2,"SHARMA")
print(name)

['abhishek', 'pankaj', 'SHARMA', 'rahul', 'rohit']

In [51]:
# pop method () in a list. it always delete value from end of the index number
name=["abhishek","pankaj","rahul","rohit"]
name.pop()
print(name)

['abhishek', 'pankaj', 'rahul']

In [52]:
# pop method with index number for deleteing the selected element. pop only take 1 value
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.pop(2)
print(name)

['abhishek', 'pankaj', 'rohit', 'kunal']

In [55]:
#  remove method. only remove first match value. rahul in this case
name=["abhishek","pankaj","rahul","rohit","kunal","rahul"]
name.remove("rahul")
print(name)

# to remove rahul every time, use while loop
name2 = ["abhishek", "pankaj", "rahul", "rohit", "kunal", "rahul"]
while "rahul" in name2:
    name2.remove("rahul")
print(name2)

['abhishek', 'pankaj', 'rohit', 'kunal', 'rahul']
['abhishek', 'pankaj', 'rohit', 'kunal']

In [56]:
# sort method
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.sort()
print(name)

['abhishek', 'kunal', 'pankaj', 'rahul', 'rohit']

In [60]:
# reverse list
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.reverse()
print(name)

# without using reverse. we can use slicing
name2 = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
print(name2[::-1])

['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']
['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [61]:
# slicing. it return the range of character value.
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
print(name[1:2])
print(name[0:4])
print(name[0:-3])
print(name[::-1])   # to reverse list without using reverse function

['pankaj']
['abhishek', 'pankaj', 'rahul', 'rohit']
['abhishek', 'pankaj']
['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [62]:
# clear() method. to clear all
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.clear()
print(name)

[]

In [13]:
#  substring in the strng
name="abhishek, pankaj, rahul, rohit"
name.find("pankaj")

10

In [15]:
#Split the substring into list
name = "Abhishek Uniyal"
split_string = (name.split())
print(split_string)

['Abhishek', 'Uniyal']

REGULAR EXPRESSION

In [7]:
# RegEx (Regular Expression) is a tool for matching and handling strings. (search, split, findall, sub)
import re
str = "My name is Abhishek Uniyal"

# Define the pattern to search for. r is oprtinal here. r is use when we have pattern like r"\d": Matches any digit.
pattern = r"Abhishek"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, str)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [22]:
# using the "\d" special sequence in a regular expression pattern with Python code:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [25]:
# findall. it finds all occurrences of a specified pattern within a string.
text = "Michael Jackson was a singer and known as the 'King of Pop'"
# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", text)

print(result)

['as', 'as']

In [26]:
# Use the split function to split the string by the "\s"
text = "Michael was a singer and known as the 'King of Pop'"

split_array = re.split("\s", text)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

In [29]:
# Define the regular expression pattern to search for
text = "Michael was a singer and known as the 'King of Pop'"

pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, text, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael was a singer and known as the 'legend'

TUPLE

In [72]:
# TUPLE. tuple are immutable. tuple do not support clear, append, sort, pop, insert, del, update, search

rating=(2,5,3,(94,34,77),4)
print(rating[2])
print(rating[2:4])
print(rating[3])
print(rating[3][1])

3
(3, (94, 34, 77))
(94, 34, 77)
34

In [13]:
# tuples
t1=(1,2,3)
print(len(t1))    # length

t2=(1,2,3)
t3=(4,5,6)
print(t2+t3)      # concatenation

t4=("hi! ")
print(t4 *4)      #repitition

n=input("enter number: ")   # for user generated integer value, treat number as string
print( n * 5)

t5=(5,4,3,6)
print(3 in(t5))   # membership

t6=(3,4,6,8)
for x in t6:
    print(x, end="")      #iteration (loop)

fruits = ["apple", "banana", "orange"] 
fruits.append("mango")            # add value at end
print(fruits)

del fruits[1]              # delete value at index number 1
print(fruits)

3
(1, 2, 3, 4, 5, 6)
hi! hi! hi! hi!

enter number:  3

33333
True
3468['apple', 'banana', 'orange', 'mango']
['apple', 'orange', 'mango']

LIST

In [20]:
# LIST. it is mutable (modify). all the method that i apply previosuly in string is applied in list

# concatenation (+)
name=["abhishek", "pankaj", "rahul"]
number=[3,6,5]
print(name+number)

# repeat (*)
number2=[3,4,5]
b=number2*2
print(b)

#  range (:)
number3=[1,2,3,4,5,6,7,8,9]
a=number3[1:5]
print(a)

['abhishek', 'pankaj', 'rahul', 3, 6, 5]
[3, 4, 5, 3, 4, 5]
[2, 3, 4, 5]

DICT

In [30]:
# dictionary. comes in key and pair value
stu={
    "id": 1,
    "name": "abhishek",
    "program": "data science",
    "sem": 1,
    "date of joining": "2024-05-23"
}
print(stu)                      # to see all key and value
print(stu["id"])                # to see single key value
print(stu["id"]), stu["name"]   # to see 2 key value
print(len(stu))                 # to see length
print(type(stu))                # to see type  

a=stu.keys()         
print(a)                        # to see only key

b = stu.values()
print(b)                        # to see only values

c=stu.items()
print(c)                        # to see them in pair

{'id': 1, 'name': 'abhishek', 'program': 'data science', 'sem': 1, 'date of joining': '2024-05-23'}
1
1
5
<class 'dict'>
dict_keys(['id', 'name', 'program', 'sem', 'date of joining'])
dict_values([1, 'abhishek', 'data science', 1, '2024-05-23'])
dict_items([('id', 1), ('name', 'abhishek'), ('program', 'data science'), ('sem', 1), ('date of joining', '2024-05-23')])

In [31]:
# make empty dictionary then ask user 4 name and their language
d={}

name=input("enter friend name: ")
lang=input("enter friend lang: ")
d.update({name: lang})

name=input("enter friend name: ")
lang=input("enter friend lang: ")
d.update({name: lang})

name=input("enter friend name: ")
lang=input("enter friend lang: ")
d.update({name: lang})

print(d)

# if it has same key in 1, it will show only 3 key with last updated value
# if it has same value, then it wont change anything

enter friend name:  a
enter friend lang:  s
enter friend name:  d
enter friend lang:  d
enter friend name:  f
enter friend lang:  f

{'a': 's', 'd': 'd', 'f': 'f'}

In [31]:
# add new key and values in dic. it only add 1 key and value at a time
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
}
emp["country"]=["india"]
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'country': ['india']}

In [8]:
# pop method to delete key and value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000
}
a=emp.pop("city")
print(emp)

{'id': 1, 'name': 'pankaj', 'designation': 'accountant', 'salary': 50000}

In [33]:
# update method to update key and value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
emp.update({"salary":39999})
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant', 'salary': 39999}

In [41]:
# clear method in a dictionary
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000,
}
emp.clear()
print(emp)

{}

In [34]:
# delete method. del is a operator not a fucntion, because we dont use parantheisis in it
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
del emp["salary"]
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant'}

In [17]:
#  popitem method. remove last value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
emp.popitem()
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant'}

SET

In [18]:
# SET. set always display random values. it doesnt have index number so remove random value
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
print(set1)
print(type(set1))
# print(set1[3])    it will show error becuase set dont have index number

{'pankaj', 2, 3, 'abhishek', 5}
<class 'set'>

In [24]:
# clear in SET
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.clear()
print(set1)

set()

In [26]:
# POP in SET.
set={2,5,2,4,"pankaj","neha"}
set.pop()
print(set)

{2, 4, 5, 'neha'}

In [23]:
# pop with index number. give error, becuase set doesn't have index number
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.pop(1)
print(set1)

TypeError: set.pop() takes no arguments (1 given)

In [25]:
# remove in SET. set only keep unique value and remove duplicate
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.remove("abhishek")
print(set1)

{'pankaj', 2, 3, 5}

In [30]:
# SET union and intersection
s1={1,4,7,45}  
s2={72,45,9}
print(s1.union(s2))           # all value without repeating
print(s1.intersection(s2))    # common value in both

{1, 4, 7, 72, 9, 45}
{45}

IF-ELSE

In [37]:
# if elif
age = int(input("enter your age: "))
if age>25:
    print("you can drive heavy vehicle")
elif age>18 and age<25:
    print("you can drive light vehicle")
else:
    print("you cannot drive")

enter your age:  29

you can drive heavy vehicle

In [44]:
# greatest number among three
n1 = int(input("enter number: "))
n2 = int(input("enter number: "))
n3 = int(input("enter number: "))
if (n1>n2 and n1>n3):
    print(f"{n1} is greatest number among {n1}, {n2} and {n3}")
elif (n2>n1 and n2>n3):
    print(f"{n2} is greatest number among {n1}, {n2} and {n3}")
else:
    print(f"{n3} is greatest number among {n1}, {n2} and {n3}")


# in case user gave same input for more than 1 value
# Input four numbers from the user
# n1 = int(input("Enter your number: "))
# n2 = int(input("Enter your number: "))
# n3 = int(input("Enter your number: "))

# # Use the max function to find the greatest number
# greatest = max(n1, n2, n3)

# print("The greatest number is", greatest)

enter number:  3
enter number:  4
enter number:  4

4 is greatest number among 3, 4 and 4

In [45]:
# take 3 marks input from user. 40% avg passing, 33% minimum individually
n1 = int(input("enter number: "))
n2 = int(input("enter number: "))
n3 = int(input("enter number: "))
avg = (n1 + n2 + n3)/3
if (n1>=33 and n2>=33 and n3>=33 and avg>=40):
    print("you passed")
else:
    print("you failed")

enter number:  34
enter number:  55
enter number:  56

you passed

In [49]:
# SPAM filter
s1 = "make money easily"
s2 = "make quick money"
s3 = "become rich"
msg = input("enter your message here: ")
if ((s1 in msg) or (s2 in msg) or (s3 in msg)):
    print("this is a spam")
else:
    print("this is not a spam")

enter your message here:  click here to become rich

this is a spam

In [ ]:
#  to check if your name is in the list.
list= ["abhishek","rahul","rohit","pankaj"]
name=input("enter your name: ")
if (name in list):
    print("your name is in list")
else:
    print("your name is not in list")

FOR AND WHILE LOOPS

In [4]:
# for and while do same job but in different way.
# Use a for loop when you have a specific range or sequence to iterate over.
# Use a while loop when the number of iterations is not known beforehand and depends on a condition being met.

In [1]:
# for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
# while loop
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [14]:
# print name multiple time using for loop
name="abhishek"
for i in range(3):
    print(name)

abhishek
abhishek
abhishek

In [23]:
# print name multiple time using while loop
i=0
while i<3:
    print("abhishek")
    i+=1

abhishek
abhishek
abhishek

In [15]:
# print name multiple time in same line without using for loop
print("abhishek " * 3)

abhishek abhishek abhishek

In [18]:
# print name mulitple time without loop
print("\n abhishek" * 3)

 abhishek
 abhishek
 abhishek

In [20]:
# display number without loop
print("\n 5" * 3)

 5
 5
 5

In [28]:
# print list using for loop
list= ["abhishek", 32, False, "pankaj"]
for i in list:
    print(i)

abhishek
32
False
pankaj

In [29]:
# print list using while loop
list= ["abhishek", 32, False, "pankaj"]
i=0
while i <len(list):
    print(list[i])
    i+=1

abhishek
32
False
pankaj

In [33]:
# for and while loop with else
for i in range(1,6):
    print(i)
else:
    print("this is for loop with else")

i=1
while i<6:
    print(i)
    i+=1
else:
    print("this is while loop with else")

1
2
3
4
5
this is for loop with else
1
2
3
4
5
this is while loop with else

In [39]:
# break. it will exit the loop when condition match
for i in range(10):
    if i==4:
        break
    print(i)

0
1
2
3

In [37]:
# continue. it will skip matching part and execute the rest
for i in range(6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [42]:
# PASS. its a null statement. it tell program to do nothing. when you want to leave the part for later
for i in range(10):
    pass    # without this, it will throw error.

for j in range(5):
    print(j)
    j+=1

0
1
2
3
4

In [50]:
# mulitple table using for loop
n=int(input("enter the number: "))
for i in range(1, 11):
    print(f"{n} * {i} is {n*i}")

enter the number:  4

4 * 1 is 4
4 * 2 is 8
4 * 3 is 12
4 * 4 is 16
4 * 5 is 20
4 * 6 is 24
4 * 7 is 28
4 * 8 is 32
4 * 9 is 36
4 * 10 is 40

In [51]:
# table using while loop
n=int(input("enter the number: "))
i=1
while i<=10:
    print(f"{n} * {i} is {n*i}")
    i+=1

enter the number:  4

4 * 1 is 4
4 * 2 is 8
4 * 3 is 12
4 * 4 is 16
4 * 5 is 20
4 * 6 is 24
4 * 7 is 28
4 * 8 is 32
4 * 9 is 36
4 * 10 is 40

In [54]:
# find sum of first n natural number using while loop. sum start with 0, because we are adding
n=int(input("enter your number: "))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

enter your number:  4

10

In [56]:
#  factorial of a number using for loop. product start with 1 because we are mulitplying. 5= 1*2*3*4*5
n=int(input("enter the number: "))
factorial = 1
for i in range (1, n+1):
    factorial = factorial * i
print(factorial)

enter the number:  5

120

FUNCTION

In [16]:
# greet user with their name and good morning
def greet():
    name = input("enter your name: ")
    print(f"hello {name}, good morning")
greet()

enter your name:  abhishek

hello abhishek, good morning

In [17]:
# funtion without argument
def add():
    n1=int(input("enter first number: "))
    n2=int(input("enter second number "))
    sum = n1 +n2
    return sum
add()

enter first number:  2
enter second number  3

5

In [20]:
# funtion with single argument
def greet(name):
    print(f"good day {name}")
greet("abhishek")
greet("pankaj")

good day abhishek
good day pankaj

In [29]:
#  funtion with double arguemnt
def greet(name, ending):
    print(f"good evening {name}") 
    print(ending)
greet("abhishek","thanks")
greet("pankaj","thank you")

# can be written insde single print 
# print(f"Good evening {name} {ending}")
# print(f"Good evening {name}", ending)

good evening abhishek
thanks
good evening pankaj
thank you

In [19]:
# default vlue
def greet(name, city="pune"):
    print(f"good morning {name}")
    print(f"you live in {city}")
greet("abhishek","delhi")
greet("pankaj")

good morning abhishek
you live in delhi
good morning pankaj
you live in pune

In [20]:
# FACTORIAL
''' Recursion is a function which call itself
factorial(0) = 1
factorial(1) = 1
factorial(2) = 2 * 1
factorial(3) = 3 * 2 * 1
factorial(4) = 4 * 3 * 2 * 1
factorial(5) = 5 * 4 * 3 * 2 * 1
factorial(n) = n * n-1 *........3 * 2 * 1

factorial(n) = n * factorial(n-1)'''

def factorial(n):
    if n==1 or n==0:
        return 1
    return n * factorial(n-1)

n = int(input("enter number: "))
print(f"factorial of {n} is {factorial(n)}")

enter number:  4

factorial of 4 is 24

In [17]:
# recursive function to calculate sum of n natural number
'''
sum(1) = 1
sum(2) = 1 + 2
sum(3) = 1 + 2 + 3
sum(n) = 1 + 2 + 3......n
sum(n) = 1 + 2 + 3.......n-1 + n 
sum(n) = sum(n-1) + n
'''
def sum(n):
    if n==1:
        return 1
    return sum(n-1) + n 
print(sum(6))

21

In [12]:
# Maximum num using fucntion
def max(a,b,c):
    if a>b and a>c:
        return a
    if b>a and b>c:
        return b
    if c>a and c>b:
        return c

a =int(input("enter number: "))
b =int(input("enter number: "))
c =int(input("enter number: "))
print(max(a,b,c))

enter number:  3
enter number:  5
enter number:  7

7

In [14]:
# Convert farenhinte to celsius
f=int(input("enter temp in farenhite: "))
c= 5 * (f-32)/9
print(c)

enter temp in farenhite:  4

-15.555555555555555

In [ ]:
# convert farenhinte to celsius using function
def temp(f):
    return 5*(f-32)/9
    # return round(5*(f-32)/9,2)         # to give round of figure till 2 after decimal
f=int(input("enter temperature in farenhite: "))
print(temp(f))
# print(round(temp(f),2))                # to give round of figure till 2 after decimal

OOPS

In [ ]:
''' OOPS (object oriented programming system)

1. CLASS is a blueprint for creating objects.
    class Employee:
    # Methods & Variables 

2. OBJECT is a instance of class.
    There are 3 property for objects:
    a. State - The attributes of the object.
    b. Behavior: The methods of the object.
    c. Identity: A unique identifier for the object.

3. Self Parameter: Refers to the instance of the class.
    harry.getSalary() # here self is harry. it is equivalent to Employee.getSalary(harry)

4. STATIC METHOD: A method that does not use the self parameter.
    @staticmethod   # decorator to mark greet as a static method
    def greet():
    print("Hello user")

5. init() Constructor: A special method that is run as soon as the object is created.
    class Employee:
        def __init__(self, name):
            self.name = name
    
        def getSalary(self):
            pass

    harry = Employee("Harry")

6. PILLARS OF OOPS-
   1. Polymorphism, 2. Inheritance, 3. Abstraction, 4. Encapsulation.

6.1. Polymorphism: Many forms.
    A) Function Overloading (Static): Functions with the same name but different parameters.
    def abhi(a, b):
        print("Function with two parameters")
    
    def abhi(a, b, c):
        print("Function with three parameters")
    
    B) Function Overriding (Dynamic): A child class provides its own version of a method that is already defined in its parent class.
    class Animal:
        def speak(self):
            return "Some sound"
    
    class Dog(Animal):
        def speak(self):
            return "Woof"
    
    class Cat(Animal):
        def speak(self):
            return "Meow"

    ADVANTAGES: Flexibility, Reusability, Simplified Code, Improved Maintainability

6.2. INHERITANCE: is a way of creating a new class from existing class.
     a) Parent class  (super or base class)
     b) Child class   (sub or derived class)

    class Employee:      #parent class
        # code
    class Programmer (Employee):         #child class
        # code
    
  Types of inheritance:
  a. Single level: one class inherits from one base class. 
  b. Multiple level: one class inherits from mulitple base classes.
  c. Mulit level: one class is dereived from another class, which is also derived from another class.
  d. Hieracrhical level: mulitple classes inherit from the same base class.
  e. Hybrid level: a combination of different types of inheritance.

  Advantage of Inheritance - Enhance Code reusability, Hierarchical Organization, Ease of Maintenance, Extensibility.
  

6.3. ABSTRACTION: Hiding the complex details and showing only the necessary parts.
    from abc import ABC, abstractmethod
    
    class Vehicle(ABC):
        @abstractmethod
        def start(self):
            pass
    
    class Car(Vehicle):
        def start(self):
            print("Car started")
    
    class Motorcycle(Vehicle):
        def start(self):
            print("Motorcycle started")
    
    # Usage
    vehicles = [Car(), Motorcycle()]
    for v in vehicles:
        v.start()

    ADVANTAGES: Simplified Interface, Improved Focus, Easier Maintenance and Enhancement, Enhanced Design

      
6.4. ENCAPSULATION: Not showing essential things. it is about bundling the data and methods that
     operate on that data into a single unit (a class) and controlling access to that data.
    class BankAccount:
        def __init__(self, balance=0):
            self.__balance = balance
    
        def deposit(self, amount):
            if amount > 0:
                self.__balance += amount
    
        def withdraw(self, amount):
            if 0 < amount <= self.__balance:
                self.__balance -= amount
    
        def get_balance(self):
            return self.__balance
    
    # Usage
    account = BankAccount(100)
    account.deposit(50)
    account.withdraw(30)
    print(account.get_balance())  # Output: 120

    ADVANATGES: Controlled Access, Improved Security, Ease of Maintenance.


7. SUPER METHOD: used to access the method of a super class in the derived class.
    super().__init__()
    # __init__() Calls constructor of the base class

8. CLASS METHOD: A method which is bound to the class and not the object of the class.
   @classmethod
   def (cls, p1, p2):

9. GETTERS AND @.SETTERS
   class Employee:
    def __init__(self, name):
        self._name = name

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        self._name = value
'''

In [2]:
print("this line is here so the current cell is on top of screen, not at bottom")

this line is here so the current cell is on top of screen, not at bottom