22 JULY. IBM Python for AI

In [1]:
print("hey")

hey

In [5]:
# Check the Python Version
import sys
print(sys.version)    #this line will print the python version

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [21]:
# types in PYthon
a="abishek"
b=2
c=3.5
d=5>2

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [29]:
# Typecasting -  changing data type
n=3.0
print(type(n))

b=int(n)
print(type(b))

c=str(n)
print(type(c))

d=True
print(type(d))
e=int(d)
print(type(e))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [32]:
# Expression 
# Write an expression to add 30 and 20 and subtract 40
print(30+20-40)
# Write an expression to subtract 5 from 55 and divide the result by 10
print((55-5)/10)
# Write an expression to multiply 6 with 10 and divide the result by 12
print((6*10)/12)

10
5.0
5.0

In [7]:
# STRING
name="abhishek"
country="india"
print(name + " welcome")
print("hello",name + " welcome")
print(f"my name is {name} and i live in {country}")
print("my name is",name + " and my country is",country)
print("My name is {} and I stay in {}.".format(name, country))

abhishek welcome
hello abhishek welcome
my name is abhishek and i live in india
my name is abhishek and my country is india
My name is abhishek and I stay in india.

In [29]:
# Raw String. for handling textual data, especially when dealing with escape characters
str= "my name is abhishek. \n I live in india"
print(str)
print("--------------------------------------------------------------")

# \n is not interpreted as a newline character, but rather as two separate characters, ‘’ and ‘n’
raw_str=r"my name is abhishek \n. i live in india"    #
print(raw_str)
print("--------------------------------------------------------------")

# another example, which is more realstic. without raw string, it will take \n as next line.
raw_string = r"C:\new_folder\file.txt"
print("Raw String:", raw_string)

my name is abhishek.
 I live in india
--------------------------------------------------------------
my name is abhishek \n. i live in india
--------------------------------------------------------------
Raw String: C:\new_folder\file.txt

In [59]:
# escape sequence

# \n new line escape. enter new line
print("hey i am \nabhishek")
print("--------------------------------------------")

# \t tab escape. it work as tab key, give space
print("hey i am \tabhishek")
print("--------------------------------------------")

# \b backspace. it works as backspace key, revmove space
print("hey i am \babhishelk")
print("--------------------------------------------")

# Include back slash in string
print("hey i am \\ abhishek")
print("--------------------------------------------")

# r will tell python that string will be display as raw string
print(r"hey i am \ abhishek")

hey i am
abhishek
--------------------------------------------
hey i am 	abhishek
--------------------------------------------
hey i amabhishelk
--------------------------------------------
hey i am \ abhishek
--------------------------------------------
hey i am \ abhishek

In [43]:
# how to use strip string. to remove space from beginning and end both side
a=" hi, world "
print(a.strip())

hi, world

In [47]:
# how to use replace string method(). most important
b="hello world"
print(b.replace("hello","hi"))

hi world

In [45]:
#  how to use split string method(). split method split into substring
t1= "hello python programmer 23"
print(t1.split())

['hello', 'python', 'programmer', '23']

In [27]:
# string manipulation and function

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)
c = a.lower()
print("After lower:",c)

print("Is It A Title: ",a.istitle())
print(len(a))         # print length of string
print(a[2])           # print character of index number 2
print(a[1:5])         # print from 1 to 4
print(a[::-1])        # print string in reverse
print(a[3:-6])        # print from 3 to 28

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM
After lower: thriller is the sixth studio album
Is It A Title:  False
34
r
hril
mubla oiduts htxis eht si rellirhT
iller is the sixth studio

In [12]:
# replace string 
name="my name is Abhishek"
name_find=name.replace("Abhishek","Pankaj")
print(name_find)

my name is Pankaj

In [48]:
#  append method in list. it always add element at end of the index
name=["abhishek","pankaj","rahul"]
name.append("rohit")
print(name)

['abhishek', 'pankaj', 'rahul', 'rohit']

In [50]:
# insert() method ise use to add element at selected index number like index[2]
name=["abhishek","pankaj","rahul","rohit"]
name.insert(2,"SHARMA")
print(name)

['abhishek', 'pankaj', 'SHARMA', 'rahul', 'rohit']

In [51]:
# pop method () in a list. it always delete value from end of the index number
name=["abhishek","pankaj","rahul","rohit"]
name.pop()
print(name)

['abhishek', 'pankaj', 'rahul']

In [52]:
# pop method with index number for deleteing the selected element. pop only take 1 value
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.pop(2)
print(name)

['abhishek', 'pankaj', 'rohit', 'kunal']

In [55]:
#  remove method. only remove first match value. rahul in this case
name=["abhishek","pankaj","rahul","rohit","kunal","rahul"]
name.remove("rahul")
print(name)

# to remove rahul every time, use while loop
name2 = ["abhishek", "pankaj", "rahul", "rohit", "kunal", "rahul"]
while "rahul" in name2:
    name2.remove("rahul")
print(name2)

['abhishek', 'pankaj', 'rohit', 'kunal', 'rahul']
['abhishek', 'pankaj', 'rohit', 'kunal']

In [56]:
# sort method
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.sort()
print(name)

['abhishek', 'kunal', 'pankaj', 'rahul', 'rohit']

In [60]:
# reverse list
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.reverse()
print(name)

# without using reverse. we can use slicing
name2 = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
print(name2[::-1])

['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']
['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [61]:
# slicing. it return the range of character value.
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
print(name[1:2])
print(name[0:4])
print(name[0:-3])
print(name[::-1])   # to reverse list without using reverse function

['pankaj']
['abhishek', 'pankaj', 'rahul', 'rohit']
['abhishek', 'pankaj']
['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [62]:
# clear() method. to clear all
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.clear()
print(name)

[]

In [13]:
#  substring in the strng
name="abhishek, pankaj, rahul, rohit"
name.find("pankaj")

10

In [15]:
#Split the substring into list
name = "Abhishek Uniyal"
split_string = (name.split())
print(split_string)

['Abhishek', 'Uniyal']

24 JULY (string and tuple)

In [7]:
# RegEx (Regular Expression) is a tool for matching and handling strings. (search, split, findall, sub)
import re
str = "My name is Abhishek Uniyal"

# Define the pattern to search for. r is oprtinal here. r is use when we have pattern like r"\d": Matches any digit.
pattern = r"Abhishek"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, str)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [22]:
# using the "\d" special sequence in a regular expression pattern with Python code:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [25]:
# findall. it finds all occurrences of a specified pattern within a string.
text = "Michael Jackson was a singer and known as the 'King of Pop'"
# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", text)

print(result)

['as', 'as']

In [26]:
# Use the split function to split the string by the "\s"
text = "Michael was a singer and known as the 'King of Pop'"

split_array = re.split("\s", text)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

In [29]:
# Define the regular expression pattern to search for
text = "Michael was a singer and known as the 'King of Pop'"

pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, text, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael was a singer and known as the 'legend'

In [72]:
# TUPLE. tuple are immutable. tuple do not support clear, append, sort, pop, insert, del, update, search

rating=(2,5,3,(94,34,77),4)
print(rating[2])
print(rating[2:4])
print(rating[3])
print(rating[3][1])

3
(3, (94, 34, 77))
(94, 34, 77)
34

In [13]:
# tuples
t1=(1,2,3)
print(len(t1))    # length

t2=(1,2,3)
t3=(4,5,6)
print(t2+t3)      # concatenation

t4=("hi! ")
print(t4 *4)      #repitition

n=input("enter number: ")   # for user generated integer value, treat number as string
print( n * 5)

t5=(5,4,3,6)
print(3 in(t5))   # membership

t6=(3,4,6,8)
for x in t6:
    print(x, end="")      #iteration (loop)

fruits = ["apple", "banana", "orange"] 
fruits.append("mango")            # add value at end
print(fruits)

del fruits[1]              # delete value at index number 1
print(fruits)

3
(1, 2, 3, 4, 5, 6)
hi! hi! hi! hi!

enter number:  3

33333
True
3468['apple', 'banana', 'orange', 'mango']
['apple', 'orange', 'mango']

25 JULY (List)

In [20]:
# LIST. it is mutable (modify). all the method that i apply previosuly in string is applied in list

# concatenation (+)
name=["abhishek", "pankaj", "rahul"]
number=[3,6,5]
print(name+number)

# repeat (*)
number2=[3,4,5]
b=number2*2
print(b)

#  range (:)
number3=[1,2,3,4,5,6,7,8,9]
a=number3[1:5]
print(a)

['abhishek', 'pankaj', 'rahul', 3, 6, 5]
[3, 4, 5, 3, 4, 5]
[2, 3, 4, 5]

In [2]:
print("this line is here so the current cell is on top of screen, not at bottom")

this line is here so the current cell is on top of screen, not at bottom